*,
*::before,
*::after {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Fixed Header*/
header.navigation {
  height: 63px;
  width: 100vw;
  background-color: #be3144;
  position: fixed;
  top: 0;
  padding: 0 15px;
}

header.navigation nav#navbar {
  display: flex;
  align-items: revert;
  justify-content: space-between;
  height: 100%;
}

header.navigation nav#navbar .logo {
  width: 30%;
}

header.navigation nav#navbar .logo img {
  position: absolute;
}

header.navigation nav#navbar .logo #logo_bg-yellow {
  width: 63px;
}

header.navigation nav#navbar ul {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header.navigation nav#navbar ul li {
  list-style: none;
  transition: 0.5s ease;
}

header.navigation nav#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 19px 20px;
  margin-left: 10px;
  transition: all 0.3s;
}

header.navigation nav#navbar ul li:hover a {
  background-color: #6a7fb1;
}

/*Responsive*/
@media only screen and (max-width: 720px) {
  header.navigation nav#navbar {
    justify-content: center;
  }

  header.navigation nav#navbar .logo {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  header.navigation nav#navbar ul li a {
    font-size: 14px;
    padding: 0 15px;
  }
}

/*Welcome Section*/
section#welcome-section {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, #ddd -120%, #181719);
}

section#welcome-section h1 {
  font-size: 3.5rem;
  color: #fff;
  padding: 10px 0;
}

section#welcome-section p {
  font-size: 25px;
  color: #be3144;
  font-style: italic;
  font-weight: 600;
}

/*Responsive*/
@media only screen and (max-width: 720px) {
  section#welcome-section h1 {
    font-size: 1.6rem;
  }
  section#welcome-section p {
    font-size: 20px;
  }
}

/*Projects*/
section#projects {
  background-color: #45567d;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section#projects .head {
  margin: 0;
  height: 150px;
}

section#projects .head h2 {
  font-size: 2.1rem;
  color: #f0f0f0;
  padding: 10px 0px;
  border-bottom: 3px solid #f0f0f0;
}

@media only screen and (max-width: 720px) {
  section#projects .head h2 {
    padding: 6% 0%;
    font-size: 1.8rem;
  }
}

/* section#projects .body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 40px;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
} */

section#projects .body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 95%;
  max-width: 1200px;
}

section#projects .body .project-tile {
  width: 350px;
  height: 300px;
  background-color: #303841;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

section#projects .body .project-tile:hover {
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.5);
}

section#projects .body .project-tile a {
  text-decoration: none;
}

section#projects .body .project-tile a img {
  height: calc(100% - 60px);
  width: 100%;
  object-fit: cover;
}

section#projects .body .project-tile a .title {
  height: 50px;
  font-size: 20px;
  text-align: center;
}

section#projects .body .project-tile a p {
  padding: 0 12px;
  line-height: 50px;
  display: inline-block;
  color: #fff;
}

section#projects .body .project-tile a span.mark {
  color: #303841;
  transition: 0.6s ease;
  font-size: 20px;
}

section#projects .body .project-tile a:hover span.mark {
  color: orangered;
}

section#projects a#btn {
  margin: 50px 0;
  padding: 5px 10px;
  width: 150px;
  background-color: #303841;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

section#projects a#btn span {
  font-size: 25px;
  margin-left: 5px;
  transition: 0.3s ease;
}

section#projects a#btn:hover span {
  margin-left: 10px;
}

/*Contact*/
section#contact {
  background-color: #303841;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid orangered;
}

section#contact h2 {
  font-size: 2.8rem;
  color: #fff;
  padding: 5px 0;
}

section#contact p {
  font-size: 25px;
  color: #be3144;
  font-style: italic;
}

section#contact ul {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section#contact ul li {
  list-style: none;
  padding: 2% 0;
  margin: 0 10%;
}

section#contact ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 2.5%;
  font-size: 25px;
  border-bottom: 3px solid transparent;
  transition: all 0.5s;
}

section#contact ul li a:hover {
  border-color: #fff;
}

@media only screen and (max-width: 720px) {
  section#contact h2 {
    font-size: 2.1rem;
  }
  section#contact ul {
    flex-direction: column;
    margin-top: 5%;
  }

  section#contact ul li {
    margin: 10% 3%;
  }

  section#contact ul li a {
    font-size: 20px;
  }
}

/*Footer*/
footer#footer {
  width: 100%;
  background-color: #303841;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

footer#footer p {
  padding: 1.5% 0;
  font-size: 22px;
  color: #fff;
}

footer#footer p span {
  color: #be3144;
  font-size: 25px;
  padding: 0 15px;
}

@media only screen and (max-width: 720px) {
  footer#footer {
    justify-content: center;
  }

  footer#footer p {
    font-size: 16px;
  }

  footer#footer p span {
    font-size: 17px;
    padding: 0 7px;
  }
}

/* Over All */
.hidded-project {
  display: none;
}

/* Waiting List */
.waiting-list {
  position: relative;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  content: "";
  display: block;
  border: 5px solid #06141d;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #b93131;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}
